{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "edit.page.mailaccount"|trans() }}</h1>

    <form action="{{ path('config_mailaccount_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
        {{ form_widget(edit_form) }}
        <p>
            <button class="btn btn-success" type="submit">{{ "button.edit"|trans() }}</button>
        </p>
    </form>

    <div class="btn-group">
        <form action="{{ path('config_mailaccount_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}

            <a class="btn" href="{{ path('config_mailaccount') }}">
                {{ "button.back"|trans() }}
            </a>

            <a class="btn"
               href="{{ path('config_mailaddress', { 'mailaccountid': entity.id }) }}">{{ "title.page.mailaddress"|trans() }}</a>

            <button class="btn btn-danger" type="submit">{{ "button.delete"|trans() }}</button>
        </form>
    </div>
{% endblock %}