{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.mailaccount"|trans() }}</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <th>{{ "mailaccount.column.username"|trans() }}</th>
            <th>{{ "mailaccount.column.quota"|trans() }}</th>
            <th>{{ "mailaccount.column.haspop3"|trans() }}</th>
            <th>{{ "mailaccount.column.hasimap4"|trans() }}</th>
            <th>{{ "mailaccount.column.hassmtp"|trans() }}</th>
            <th>{{ "mailaccount.column.enabled"|trans() }}</th>
            <th>{{ "all.column.actions"|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('config_mailaccount_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.quota }}</td>
                <td>{{ entity.hasPop3 }}</td>
                <td>{{ entity.hasImap4 }}</td>
                <td>{{ entity.hasSmtp }}</td>
                <td>{{ entity.enabled }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('config_mailaccount_show', { 'id': entity.id }) }}">{{ "button.show"|trans() }}</a>
                        </li>
                        <li>
                            <a href="{{ path('config_mailaccount_edit', { 'id': entity.id }) }}">{{ "button.edit"|trans() }}</a>
                        </li>
                        <li>
                            <a href="{{ path('config_mailaddress', { 'mailaccountid': entity.id }) }}">{{ "mailaccount.button.addresses"|trans() }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_mailaccount_new') }}">
                {{ "button.create"|trans() }}
            </a>
        </li>
    </ul>
{% endblock %}