{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.mailaccount"|trans() }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.username"|trans() }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.quota"|trans() }}</th>
            <td>{{ entity.quota }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.haspop3"|trans() }}</th>
            <td>{{ entity.hasPop3 }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.hasimap4"|trans() }}</th>
            <td>{{ entity.hasImap4 }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.hassmtp"|trans() }}</th>
            <td>{{ entity.hasSmtp }}</td>
        </tr>
        <tr>
            <th>{{ "mailaccount.column.enabled"|trans() }}</th>
            <td>{{ entity.enabled }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn" href="{{ path('config_mailaccount') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('config_mailaccount_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>
        </li>
        <li>
            <form action="{{ path('config_mailaccount_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">{{ "button.delete"|trans() }}</button>
            </form>
        </li>
    </ul>
{% endblock %}