{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <form action="{{ path('config_admin_create') }}" class="form-horizontal"
          method="post" autocomplete="off" {{ form_enctype(form) }}>

        {{ form_row(form.username, {'form_type': 'horizontal'}) }}
        {{ form_row(form.email, {'form_type': 'horizontal'}) }}
        {{ form_row(form.plainPassword, {'form_type': 'horizontal'}) }}
        {{ form_row(form.roles, {'form_type': 'horizontal'}) }}
        {{ form_row(form.enabled, {'form_type': 'horizontal'}) }}

        {{ form_rest(form) }}

        {{ macros.formbuttongrp(path('config_admin')) }}
    </form>
{% endblock %}

{% block title %}
    {{ "create.page.admin"|trans() }}
{% endblock %}
