{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.admin"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.admintype.email"|trans() }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.admintype.registered"|trans() }}</th>
            <td>{{ entity.registered|date('d.m.Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.admintype.lastseen"|trans() }}</th>
            <td>{{ entity.lastseen|date('d.m.Y H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    {{ macros.showbuttongrp(path("config_admin"), path("config_admin_edit", { id : entity.id }), path("config_admin_delete", { id : entity.id })) }}
{% endblock %}
