{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% import "JeboehmLampcpCoreBundle::macros.html.twig" as macros %}
{% extends '::base.html.twig' %}

{% block title %}
    {% spaceless %}
        {{ "title.head"|trans() }}
    {% endspaceless %}
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" xmlns="http://www.w3.org/1999/html"/>
    <meta name="description" content=""/>
    <meta name="author" content="Jeffrey Böhm"/>
{% endblock %}

{% block stylesheets %}
    {% stylesheets
    '@JeboehmLampcpCoreBundle/Resources/public/css/main.css'
    filter='cssrewrite' %}

    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@JeboehmLampcpCoreBundle/Resources/public/js/main.js'
    '@JeboehmLampcpCoreBundle/Resources/public/js/functions.js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="{{ path("default") }}">{{ "title.head"|trans() }}</a>

                {% block topnav %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            {% block leftbar %}
                <div class="span3">
                    <div class="well sidebar-nav">
                        {% block leftnavall %}
                        {% endblock %}
                    </div>

                    {% if selecteddomain %}
                        <div class="well sidebar-nav">
                            {% block leftnavdom %}
                            {% endblock %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}

            <div class="span9">
                <div class="row-fluid">
                    {% block contentdiv %}
                        <div class="span12">
                            {% block content %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>

        <hr>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </div>
{% endblock %}
