{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% block field_label %}
    {% spaceless %}
        <label for="{{ id }}">
            {% if label is not null %}
                {{ label|trans() }}
            {% else %}
                {{ id|replace({'_':'.'})|trans() }}
            {% endif %}
        </label>
    {% endspaceless %}
{% endblock field_label %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set type = type|default('text') %}
        <input autocomplete="off"
               type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endspaceless %}
{% endblock form_widget_simple %}
