{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::base.html.twig' %}

{% block topnav %}
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if selecteddomain %}
                    {{ selecteddomain.domain }}
                {% else %}
                    {{ "default.topmenu.no.domain"|trans }}
                {% endif %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                {% for domain in domainselector_domains %}
                    <li>
                        <a href="{{ path("set_domain", { id: domain.id }) }}">
                            {{ domain.domain }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>

        <li><a href="{{ path('auth_logout') }}">{{ "title.page.logout"|trans() }}</a></li>
    </ul>
{% endblock %}

{% block leftnavall %}
    <ul class="nav nav-list">
        <li class="nav-header">{{ "leftnavall.general"|trans() }}</li>
        <li><a href="{{ path('systemconfig') }}">{{ "title.page.systemconfig"|trans() }}</a></li>
        <li><a href="{{ path('config_admin') }}">{{ "title.page.admin"|trans() }}</a></li>
        <li><a href="{{ path('config_ipaddress') }}">{{ "title.page.ipaddress"|trans() }}</a></li>
        <li><a href="{{ path('config_certificate') }}">{{ "title.page.certificate"|trans() }}</a></li>
        <li><a href="{{ path('config_domain') }}">{{ "title.page.domain"|trans() }}</a></li>

        {% block leftnavallext %}{% endblock %}
    </ul>
{% endblock %}

{% block leftnavdom %}
    <ul class="nav nav-list">
        <li class="nav-header">{{ selecteddomain.domain }}</li>
        <li><a href="{{ path('config_subdomain') }}">{{ "title.page.subdomain"|trans() }}</a></li>
        <li><a href="{{ path('config_mailaddress') }}">{{ "title.page.mailaddress"|trans() }}</a></li>
        <li><a href="{{ path('config_mysqldatabase') }}">{{ "title.page.mysqldatabase"|trans() }}</a></li>
        <li><a href="{{ path('config_pathoption') }}">{{ "title.page.pathoption"|trans() }}</a></li>
        <li><a href="{{ path('config_protection') }}">{{ "title.page.protection"|trans() }}</a></li>

        {% block leftnavdomext %}{% endblock %}
    </ul>
{% endblock %}

{% block footer %}<p>Powered by <a href="https://github.com/jeboehm/LampCP">LampCP</a></p>{% endblock %}
