{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% macro excerpt(text, len) %}
{% if text|length > len %}
{{ text|slice(0, len) }}...
{% else %}
{{ text }}
{% endif %}
{% endmacro %}

{% macro formbuttongrp(pathBack, pathDelete) %}
    <hr>

    <div class="btn-group">
        <button class="btn btn-warning" type="submit">
            {{ "button.save"|trans() }}
        </button>

        {% if pathDelete != "" %}
            <button prototype-target="{{ pathDelete }}" prototype-confirm="{{ "button.delete.confirm"|trans() }}"
                    class="btn btn-danger">
                {{ "button.delete"|trans() }}
            </button>
        {% endif %}

        {% if pathBack != "" %}
            <button prototype-target="{{ pathBack }}" class="btn">
                {{ "button.back"|trans() }}
            </button>
        {% endif %}
    </div>
{% endmacro %}

{% macro showbuttongrp(pathBack, pathEdit, pathDelete) %}
    <div class="btn-group">
        {% if pathEdit != "" %}
            <button prototype-target="{{ pathEdit }}" class="btn btn-warning">
                {{ "button.edit"|trans() }}
            </button>
        {% endif %}

        {% if pathDelete != "" %}
            <button prototype-target="{{ pathDelete }}" prototype-confirm="{{ "button.delete.confirm"|trans() }}"
                    class="btn btn-danger">
                {{ "button.delete"|trans() }}
            </button>
        {% endif %}

        {% if pathBack != "" %}
            <button prototype-target="{{ pathBack }}" class="btn">
                {{ "button.back"|trans() }}
            </button>
        {% endif %}
    </div>
{% endmacro %}
