{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.protectionuser"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.protectionusertype.username"|trans() }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        </tbody>
    </table>

    {{ macros.showbuttongrp(path("config_protectionuser", { protectionid : entity.protection.id }), path("config_protectionuser_edit", { id : entity.id }), path("config_protectionuser_delete", { id : entity.id })) }}
{% endblock %}
