{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.log"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.logtype.time"|trans() }}</th>
            <th>{{ "jeboehm.lampcp.corebundle.logtype.type"|trans() }}</th>
            <th>{{ "jeboehm.lampcp.corebundle.logtype.message"|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.timestamp|date('d.m.Y H:i:s') }}</td>
                <td>{{ entity.priorityName }}</td>
                <td>{{ entity.message }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
