{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends '::base.html.twig' %}

{% block title %}{% spaceless %}{{ "title.head"|trans() }}{% endspaceless %}{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    'bundles/jboehmlampcpcore/bootstrap/css/bootstrap.css'
    'bundles/jboehmlampcpcore/bootstrap/css/bootstrap-responsive.css'
    'bundles/jboehmlampcpcore/css/main.css'
    filter='cssrewrite,?yui_css' %}

    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
    '@JboehmLampcpCoreBundle/Resources/public/bootstrap/js/bootstrap.js'
    '@JboehmLampcpCoreBundle/Resources/public/js/*'
    filter='?yui_js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="{{ path("default") }}">{{ "title.head"|trans() }}</a>

                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        {% block topnavright %}{% spaceless %}{% endspaceless %}{% endblock %}
                    </p>
                    {% block topnav %}
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    {% endblock %}
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav">
                    {% block leftnav %}
                        <ul class="nav nav-list">
                            <li class="nav-header">Sidebar</li>
                            <li class="active"><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li class="nav-header">Sidebar</li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    {% endblock %}
                </div>
                <!--/.well -->
            </div>
            <!--/span-->
            <div class="span9">


                <div class="row-fluid">
                    <div class="span12">
                        {% block content %}
                            <h2>Heading</h2>

                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo,
                                tortor
                                mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
                                malesuada
                                magna mollis euismod. Donec sed odio dui. </p>

                            <p><a class="btn" href="#">View details &raquo;</a></p>
                        {% endblock %}
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/span-->
        </div>
        <!--/row-->

        <hr>

        <footer>
            <p>Powered by <a href="https://github.com/jeboehm/LampCP">LampCP</a></p>
        </footer>
    </div><!--/.fluid-container-->
{% endblock %}
