{% extends '::base.html.twig' %}

{% block title %}
    {% spaceless %}
        {{ "LampCP - Server Control Panel"|trans() }}
    {% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/jboehmlampcpcore/bootstrap/css/bootstrap.min.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}

    {% stylesheets 'bundles/jboehmlampcpcore/css/main.css' filter='cssrewrite,?yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
    '@JboehmLampcpCoreBundle/Resources/public/bootstrap/js/bootstrap.min.js'
    '@JboehmLampcpCoreBundle/Resources/public/js/*'
    filter='?yui_js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block navigation %}
        {% include("JboehmLampcpCoreBundle::navigation.html.twig") %}
    {% endblock %}

    <div class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                <a href="http://lampcp.de">LampCP</a>
            {% endblock %}
        </footer>
    </div>
{% endblock %}