{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends '::base.html.twig' %}

{% block title %}
    {% spaceless %}{{ "title.head"|trans() }}{% endspaceless %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets 'bundles/jboehmlampcpcore/bootstrap/css/bootstrap.min.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}

    {% stylesheets 'bundles/jboehmlampcpcore/css/main.css' filter='cssrewrite,?yui_css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@SonatajQueryBundle/Resources/public/jquery-1.8.0.js'
    '@JboehmLampcpCoreBundle/Resources/public/bootstrap/js/bootstrap.min.js'
    '@JboehmLampcpCoreBundle/Resources/public/js/*'
    filter='?yui_js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block navigation %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav pull-right">
                    {% if selecteddomain is defined and selecteddomain is not null %}
                        <li><a href="{{ path('default') }}">{{ selecteddomain.domain }}</a></li>
                    {% endif %}
                </ul>

                <ul id="topnav" class="nav">
                    <li><a href="{{ path('default') }}">{{ "title.page.default"|trans() }}</a></li>
                    <li><a href="{{ path('config_admin') }}">{{ "title.page.admin"|trans() }}</a></li>
                    <li><a href="{{ path('config_domain') }}">{{ "title.page.domain"|trans() }}</a></li>

                    {% if selecteddomain is defined and selecteddomain is not null %}
                        <li class="divider-vertical"></li>
                        <li><a href="{{ path('config_subdomain') }}">{{ "title.page.subdomain"|trans() }}</a></li>
                        <li><a href="{{ path('config_mailaccount') }}">{{ "title.page.mailaccount"|trans() }}</a></li>
                        <li><a href="{{ path('config_mysqldatabase') }}">{{ "title.page.mysqldatabase"|trans() }}</a>
                        </li>
                        <li><a href="{{ path('config_pathoption') }}">{{ "title.page.pathoption"|trans() }}</a></li>
                        <li><a href="{{ path('config_protection') }}">{{ "title.page.protection"|trans() }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endblock %}

    <div class="container">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            {% block footer %}
                Powered by <a href="https://github.com/jeboehm/LampCP">LampCP</a>
            {% endblock %}
        </footer>
    </div>
{% endblock %}