{% extends '::base.html.twig' %}

{% block title %}
    {% spaceless %}
        {{ "LampCP - Server Control Panel"|trans() }}
    {% endspaceless %}
{% endblock %}

{% block body %}
    {% block navigation %}
        <ul>
            <li><a href="{{ path('status') }}">Startseite</a></li>
            <li><a href="{{ path('config_admin') }}">Administratoren</a></li>
            <li><a href="{{ path('config_domain') }}">Domains</a></li>
            <li><a href="{{ path('config_subdomain') }}">Subdomains</a></li>
            <li><a href="{{ path('config_mailaccount') }}">E-Mail Accounts</a></li>
            <li><a href="{{ path('config_mailaddress') }}">E-Mail Adressen</a></li>
            <li><a href="{{ path('config_mysqldatabase') }}">Datenbanken</a></li>
            <li><a href="{{ path('config_pathoption') }}">Pfadoptionen</a></li>
            <li><a href="{{ path('config_protection') }}">Geschützte Verzeichnisse</a></li>
        </ul>
    {% endblock %}

    {% block domainselector %}
    {% endblock %}

    {% block selecteddomain %}
        {% if selecteddomain is not null %}
            Domain: {{ selecteddomain.domain }}
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
{% endblock %}