{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::base.html.twig' %}

{% block topnavright %}
    {% if selecteddomain is defined and selecteddomain is not null %}
        {{ selecteddomain.domain }}
    {% else %}
        {{ "default.topmenu.no.domain"|trans() }}
    {% endif %}
{% endblock %}

{% block topnav %}
    <ul class="nav">
        <li><a href="{{ path('systemconfig') }}">{{ "title.page.systemconfig"|trans() }}</a></li>
        <li><a href="{{ path('log') }}">{{ "title.page.log"|trans() }}</a></li>
        <li><a href="{{ path('auth_logout') }}">{{ "title.page.logout"|trans() }}</a></li>
    </ul>
{% endblock %}

{% block leftnavall %}
    <ul class="nav nav-list">
        <li class="nav-header">{{ "leftnavall.general"|trans() }}</li>
        <li><a href="{{ path('config_admin') }}">{{ "title.page.admin"|trans() }}</a></li>
        <li><a href="{{ path('config_ipaddress') }}">{{ "title.page.ipaddress"|trans() }}</a></li>
        <li><a href="{{ path('config_domain') }}">{{ "title.page.domain"|trans() }}</a></li>
    </ul>
{% endblock %}

{% block leftnavdom %}
    <ul class="nav nav-list">
        <li class="nav-header">{{ selecteddomain.domain }}</li>
        <li><a href="{{ path('config_subdomain') }}">{{ "title.page.subdomain"|trans() }}</a></li>
        <li><a href="{{ path('config_mailaccount') }}">{{ "title.page.mailaccount"|trans() }}</a></li>
        <li><a href="{{ path('config_mysqldatabase') }}">{{ "title.page.mysqldatabase"|trans() }}</a></li>
        <li><a href="{{ path('config_pathoption') }}">{{ "title.page.pathoption"|trans() }}</a></li>
        <li><a href="{{ path('config_protection') }}">{{ "title.page.protection"|trans() }}</a></li>
    </ul>
{% endblock %}

{% block footer %}<p>Powered by <a href="https://github.com/jeboehm/LampCP">LampCP</a></p>{% endblock %}

{% block domainselector %}
    <ul class="nav nav-list">
        <li class="nav-header">{{ "leftnav.select.domain"|trans() }}</li>

        <li>
            <form action="{{ path('set_domain') }}" method="post">
                {{ form_widget(domainselector_form.domain) }}
                {{ form_rest(domainselector_form) }}
            </form>
        </li>
    </ul>
{% endblock %}