{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block topnavright %}{% endblock %}
{% block topnav %}{% endblock %}
{% block leftnavall %}{% endblock %}
{% block leftnavdom %}{% endblock %}
{% block leftbar %}{% endblock %}

{% block content %}
    <h1>{{ "title.page.login"|trans() }}</h1>

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('auth_check') }}" method="post">
        <div id="page_login_form">
            <div>
                <label for="page_login_form_username">{{ "page.login.form.username"|trans() }}</label>
                <input type="text" id="page_login_form_username"
                       name="_username" required="required"
                       maxlength="255"/>
            </div>

            <div>
                <label for="page_login_form_password">{{ "page.login.form.password"|trans() }}</label>
                <input type="password" id="page_login_form_password"
                       name="_password"/>
            </div>

            <p>
                <button class="btn btn-primary" type="submit">
                    {{ "page.login.form.submit"|trans() }}
                </button>
            </p>
        </div>
    </form>
{% endblock %}
