{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.admin"|trans() }}</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <th>{{ "admin.column.email"|trans() }}</th>
            <th>{{ "admin.column.lastseen"|trans() }}</th>
            <th>{{ "all.column.actions"|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('config_admin_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.lastseen %}{{ entity.lastseen|date('d.m.Y H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('config_admin_show', { 'id': entity.id }) }}">{{ "button.show"|trans() }}</a>
                        </li>
                        <li>
                            <a href="{{ path('config_admin_edit', { 'id': entity.id }) }}">{{ "button.edit"|trans() }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_admin_new') }}">
                {{ "button.create"|trans() }}
            </a>
        </li>
    </ul>
{% endblock %}