{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.admin"|trans() }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "admin.column.email"|trans() }}</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>{{ "admin.column.registered"|trans() }}</th>
            <td>{{ entity.registered|date('d.m.Y H:i:s') }}</td>
        </tr>
        <tr>
            <th>{{ "admin.column.lastseen"|trans() }}</th>
            <td>{{ entity.lastseen|date('d.m.Y H:i:s') }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_admin') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
        <li>
            <a href="{{ path('config_admin_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>
        </li>
        <li>
            <form action="{{ path('config_admin_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{{ "button.delete"|trans() }}</button>
            </form>
        </li>
    </ul>
{% endblock %}