{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "create.page.domain"|trans() }}</h1>

    <form action="{{ path('config_domain_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">{{ "button.create"|trans() }}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_domain') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
    </ul>
{% endblock %}