{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.domain"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jboehm.lampcp.corebundle.domaintype.domain"|trans() }}</th>
            <td>{{ entity.domain }}</td>
        </tr>
        <tr>
            <th>{{ "jboehm.lampcp.corebundle.domaintype.path"|trans() }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ "jboehm.lampcp.corebundle.domaintype.customconfig"|trans() }}</th>
            <td>
                <pre>{{ entity.customconfig }}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <form action="{{ path('config_domain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}

            <a class="btn" href="{{ path('config_domain') }}">
                {{ "button.back"|trans() }}
            </a>

            <a class="btn btn-warning" href="{{ path('config_domain_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>

            <button class="btn btn-danger btn-delete" type="submit">{{ "button.delete"|trans() }}</button>
        </form>
    </div>
{% endblock %}