{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.subdomain"|trans() }}</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <th>{{ "jboehm.lampcp.corebundle.subdomaintype.subdomain"|trans() }}</th>
            <th>{{ "jboehm.lampcp.corebundle.subdomaintype.path"|trans() }}</th>
            <th>{{ "all.column.actions"|trans() }}</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('config_subdomain_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.subdomain }}<em>.{{ entity.domain.domain }}</em></td>
                <td>{{ entity.fullpath }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('config_subdomain_show', { 'id': entity.id }) }}">{{ "button.show"|trans() }}</a>
                        </li>
                        <li>
                            <a href="{{ path('config_subdomain_edit', { 'id': entity.id }) }}">{{ "button.edit"|trans() }}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_subdomain_new') }}">
                {{ "button.create"|trans() }}
            </a>
        </li>
    </ul>
{% endblock %}