{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "create.page.subdomain"|trans() }}</h1>

    <form action="{{ path('config_subdomain_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="btn btn-primary" type="submit">{{ "button.create"|trans() }}</button>
        </p>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_subdomain') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
    </ul>
{% endblock %}