{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <h1>{{ "edit.page.systemconfig"|trans() }}</h1>

    <form action="{{ path('config_system_update') }}"
          class="form-horizontal" method="post" {{ form_enctype(form) }}>

        {% for entity in form.configentities %}
            {% if loop.index0 == 0
            or entity.vars.value.configgroup.name != form.configentities[loop.index0 - 1].vars.value.configgroup.name %}
                <legend>{{ ("config.title." ~ entity.vars.value.configgroup.name)|trans() }}</legend>
            {% endif %}

            {{ form_row(entity.value, {
            'label' : ("config." ~ entity.vars.value.configgroup.name ~ "." ~ entity.vars.value.name)|trans(),
            'form_type' : 'horizontal'
            }) }}
        {% endfor %}

        {{ form_rest(form) }}

        {{ macros.formbuttongrp(path('config_system')) }}
    </form>
{% endblock %}
