{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.domain"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.domain"|trans() }}</th>
            <td>{{ entity.domain }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.certificate"|trans() }}</th>
            {% if entity.certificate is not null %}
                <td>{{ entity.certificate.name }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.path"|trans() }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.webroot"|trans() }}</th>
            <td>{{ entity.webroot }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.user"|trans() }}</th>
            <td>{{ entity.user.name }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.domaintype.customconfig"|trans() }}</th>
            <td>
                <pre>{{ entity.customconfig }}</pre>
            </td>
        </tr>
        <tr>
            <th>{{ "title.page.subdomain"|trans() }}</th>
            <td>{{ entity.subdomain|length }}</td>
        </tr>
        <tr>
            <th>{{ "title.page.mailaddress"|trans() }}</th>
            <td>{{ entity.mailaddress|length }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailaccount"|trans() }}</th>
            <td>{{ entity.mailaccount|length }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailforward"|trans() }}</th>
            <td>{{ entity.mailforward|length }}</td>
        </tr>
        <tr>
            <th>{{ "title.page.mysqldatabase"|trans() }}</th>
            <td>{{ entity.mysqldatabase|length }}</td>
        </tr>
        <tr>
            <th>{{ "title.page.pathoption"|trans() }}</th>
            <td>{{ entity.pathoption|length }}</td>
        </tr>
        <tr>
            <th>{{ "title.page.protection"|trans() }}</th>
            <td>{{ entity.protection|length }}</td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <form action="{{ path('config_domain_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}

            <a class="btn" href="{{ path('config_domain') }}">
                {{ "button.back"|trans() }}
            </a>

            <a class="btn btn-warning" href="{{ path('config_domain_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>

            <button class="btn btn-danger" type="submit">{{ "button.delete"|trans() }}</button>
        </form>
    </div>
{% endblock %}
