{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("bundles/jeboehmlampcpcore/js/dnszone.js") }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>{{ "edit.page.dns"|trans() }}</h1>

    <form action="{{ path('config_dns_update', { 'entity': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
        {{ form_row(edit_form.subdomain) }}

        <legend>Resource Records</legend>

        <div class="dnsrecords"
             data-prototype="{{ form_widget(edit_form.zone_collection.vars.prototype, {'form_type': 'inline'})|e }}">

            {% for record in edit_form.zone_collection %}
                <div class="control-group">
                    <div class="controls">
                        {{ form_widget(record, {'form_type': 'inline'}) }}
                    </div>
                </div>
            {% endfor %}

            <div class="control-group">
                <div class="controls" id="addbutton">
                    <a href="#" class="btn dnsrecord-add">{{ "button.add"|trans() }}</a>
                </div>
            </div>
        </div>

        {{ form_rest(edit_form) }}
        {{ macros.formbuttongrp(path('config_dns'), path('config_dns_delete', { 'entity': entity.id })) }}
    </form>
{% endblock %}
