{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <form action="{{ path('config_certificate_create') }}" method="post"
          class="form-horizontal" {{ form_enctype(form) }}>

        {{ form_row(form.name, {'form_type': 'horizontal'}) }}

        {{ form_row(form.CertificateFile,
        {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

        {{ form_row(form.CertificateKeyFile,
        {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

        {{ form_row(form.CertificateChainFile,
        {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

        {{ form_row(form.CACertificateFile,
        {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

        {{ form_rest(form, {'form_type': 'horizontal'}) }}

        {{ macros.formbuttongrp(path('config_certificate')) }}
    </form>
{% endblock %}

{% block title %}
    {{ "create.page.certificate"|trans() }}
{% endblock %}
