{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends "JeboehmLampcpCoreBundle:Base:layout.html.twig" %}

{% block content %}
    <h1>{{ "title.page.changepassword"|trans() }}</h1>

    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST"
          class="form-horizontal fos_user_change_password">

        {{ form_widget(form, {'form_type': 'horizontal'}) }}

        {{ macros.formbuttongrp() }}
    </form>
{% endblock %}
