<h1>PathOption list</h1>

<table class="records_list">
    <thead>
    <tr>
        <th>Id</th>
        <th>Path</th>
        <th>Hasdirectorylisting</th>
        <th>Error404</th>
        <th>Error403</th>
        <th>Error500</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('config_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.path }}</td>
            <td>{{ entity.hasDirectoryListing }}</td>
            <td>{{ entity.error404 }}</td>
            <td>{{ entity.error403 }}</td>
            <td>{{ entity.error500 }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('config_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('config_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('config_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
