{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.pathoption"|trans() }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "pathoption.column.path"|trans() }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ "pathoption.column.hasdirectorylisting"|trans() }}</th>
            <td>{{ entity.hasDirectoryListing }}</td>
        </tr>
        <tr>
            <th>{{ "pathoption.column.error404"|trans() }}</th>
            <td>{{ entity.error404 }}</td>
        </tr>
        <tr>
            <th>{{ "pathoption.column.error403"|trans() }}</th>
            <td>{{ entity.error403 }}</td>
        </tr>
        <tr>
            <th>{{ "pathoption.column.error500"|trans() }}</th>
            <td>{{ entity.error500 }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a class="btn" href="{{ path('config_pathoption') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
        <li>
            <a class="btn btn-warning" href="{{ path('config_pathoption_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>
        </li>
        <li>
            <form action="{{ path('config_pathoption_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button class="btn btn-danger" type="submit">{{ "button.delete"|trans() }}</button>
            </form>
        </li>
    </ul>
{% endblock %}