{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <form action="{{ path('config_pathoption_update', { 'entity': entity.id }) }}"
          class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>

        {{ form_row(edit_form.path, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.hasDirectoryListing, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.error404, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.error403, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.error500, {'form_type': 'horizontal'}) }}

        {{ form_rest(edit_form) }}

        {{ macros.formbuttongrp(path('config_pathoption'), path('config_pathoption_delete', { 'entity': entity.id })) }}
    </form>
{% endblock %}

{% block title %}
    {{ "edit.page.pathoption"|trans() }}
{% endblock %}
