{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <h1>{{ "create.page.pathoption"|trans() }}</h1>

    <form action="{{ path('config_pathoption_create') }}" class="form-horizontal"
          method="post" {{ form_enctype(form) }}>

        {{ form_row(form.path, {'form_type': 'horizontal'}) }}
        {{ form_row(form.hasDirectoryListing, {'form_type': 'horizontal'}) }}
        {{ form_row(form.error404, {'form_type': 'horizontal'}) }}
        {{ form_row(form.error403, {'form_type': 'horizontal'}) }}
        {{ form_row(form.error500, {'form_type': 'horizontal'}) }}

        {{ form_rest(form) }}

        {{ macros.formbuttongrp(path('config_pathoption')) }}
    </form>
{% endblock %}
