{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.pathoptiontype.path"|trans() }}</th>
            <td>{{ entity.fullpath }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.pathoptiontype.hasDirectoryListing"|trans() }}</th>
            <td>{{ macros.boollabel(entity.hasDirectoryListing) }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.pathoptiontype.error404"|trans() }}</th>
            <td>{{ entity.error404 }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.pathoptiontype.error403"|trans() }}</th>
            <td>{{ entity.error403 }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.pathoptiontype.error500"|trans() }}</th>
            <td>{{ entity.error500 }}</td>
        </tr>
        </tbody>
    </table>

    {{ macros.showbuttongrp(path("config_pathoption"), path("config_pathoption_edit", { 'entity' : entity.id }), path("config_pathoption_delete", { 'entity' : entity.id })) }}
{% endblock %}

{% block title %}
    {{ "show.page.pathoption"|trans() }}
{% endblock %}
