{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <h1>{{ "edit.page.subdomain"|trans() }}</h1>

    <form action="{{ path('config_subdomain_update', { 'entity': entity.id }) }}"
          class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>

        {{ form_row(edit_form.subdomain, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.parent, {'form_type': 'horizontal'}) }}

        {% if edit_form.parent.vars.data != null %}
        <div class="hidden">{% endif %}

            {{ form_row(edit_form.path, {'form_type': 'horizontal'}) }}
            {{ form_row(edit_form.redirectUrl, {'form_type': 'horizontal'}) }}

            {% if edit_form.parent.vars.data != null %}
        </div>{% endif %}

        {{ form_row(edit_form.certificate, {'form_type': 'horizontal'}) }}

        {% if edit_form.parent.vars.data != null %}
        <div class="hidden">{% endif %}

            {{ form_row(edit_form.forceSsl, {'form_type': 'horizontal'}) }}
            {{ form_row(edit_form.isWildcard, {'form_type': 'horizontal'}) }}
            {{ form_row(edit_form.parsePhp, {'form_type': 'horizontal'}) }}
            {{ form_row(edit_form.customconfig,
            {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

            {% if edit_form.parent.vars.data != null %}
        </div>{% endif %}

        {{ form_rest(edit_form) }}

        {{ macros.formbuttongrp(path('config_subdomain'), path('config_subdomain_delete', { 'entity': entity.id })) }}
    </form>
{% endblock %}
