{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <form action="{{ path('config_subdomain_create') }}"
          class="form-horizontal" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.subdomain, {'form_type': 'horizontal'}) }}
        {{ form_row(form.parent, {'form_type': 'horizontal'}) }}
        {{ form_row(form.path, {'form_type': 'horizontal'}) }}
        {{ form_row(form.redirectUrl, {'form_type': 'horizontal'}) }}
        {{ form_row(form.certificate, {'form_type': 'horizontal'}) }}
        {{ form_row(form.forceSsl, {'form_type': 'horizontal'}) }}
        {{ form_row(form.isWildcard, {'form_type': 'horizontal'}) }}
        {{ form_row(form.parsePhp, {'form_type': 'horizontal'}) }}
        {{ form_row(form.customconfig,
        {'form_type': 'horizontal', 'attr' : {'class' : 'input-xxlarge', 'rows' : 7 }}) }}

        {{ form_rest(form) }}

        {{ macros.formbuttongrp(path('config_subdomain')) }}
    </form>
{% endblock %}

{% block title %}
    {{ "create.page.subdomain"|trans() }}
{% endblock %}
