{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.subdomain"|trans() }}</h1>

    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.subdomain"|trans() }}</th>
            <td>{{ entity.subdomain }}<em>.{{ entity.domain.domain }}</em></td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.certificate"|trans() }}</th>
            {% if entity.certificate is not null %}
                <td>{{ entity.certificate.name }}</td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.forceSsl"|trans() }}</th>
            <td>{{ entity.forceSsl }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.path"|trans() }}</th>
            <td>{{ entity.fullpath }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.isWildcard"|trans() }}</th>
            <td>{{ entity.isWildcard }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.parsePhp"|trans() }}</th>
            <td>{{ entity.parsePhp }}</td>
        </tr>
        <tr>
            <th>{{ "jeboehm.lampcp.corebundle.subdomaintype.customconfig"|trans() }}</th>
            <td>
                <pre>{{ entity.customconfig }}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    {{ macros.showbuttongrp(path("config_subdomain"), path("config_subdomain_edit", { id : entity.id }), path("config_subdomain_delete", { id : entity.id })) }}
{% endblock %}
