<h1>MysqlDatabase list</h1>

<table class="records_list">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Password</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('config_mysqldatabase_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.comment }}</td>
            <td>{{ entity.password }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('config_mysqldatabase_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('config_mysqldatabase_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('config_mysqldatabase_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
