{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "title.page.default"|trans() }}</h1>
{% endblock %}

{% block domainselector %}
    <form method="POST" action="{{ path('set_domain') }}">
        <select name="domainselector">
            <option value="0">{{ "default.domainselector.select"|trans() }}</option>

            {% for domain in domainlist %}
                <option value="{{ domain.id }}">{{ domain.domain }}</option>
            {% endfor %}
        </select>

        <input type="submit" />
    </form>
{% endblock %}