{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JboehmLampcpCoreBundle::layout.html.twig' %}

{% block content %}
    <h1>{{ "show.page.protection"|trans() }}</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>{{ "all.column.id"|trans() }}</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>{{ "protection.column.path"|trans() }}</th>
            <td>{{ entity.path }}</td>
        </tr>
        <tr>
            <th>{{ "protection.column.realm"|trans() }}</th>
            <td>{{ entity.realm }}</td>
        </tr>
        <tr>
            <th>{{ "protection.column.username"|trans() }}</th>
            <td>{{ entity.username }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('config_protection') }}">
                {{ "button.back"|trans() }}
            </a>
        </li>
        <li>
            <a href="{{ path('config_protection_edit', { 'id': entity.id }) }}">
                {{ "button.edit"|trans() }}
            </a>
        </li>
        <li>
            <form action="{{ path('config_protection_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">{{ "button.delete"|trans() }}</button>
            </form>
        </li>
    </ul>
{% endblock %}