{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@JeboehmLampcpCoreBundle/Resources/public/js/mailaddress.js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1>{{ "edit.page.mailaddress"|trans() }}</h1>

    <form action="{{ path('config_mailaddress_update', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(edit_form) }}>
        {{ form_row(edit_form.address) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailaccount"|trans }}</h2>
        {{ form_widget(edit_form.mailaccount) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailforward"|trans }}</h2>
        <ul class="mailforward" data-prototype="{{ form_widget(edit_form.mailforward.vars.prototype)|e }}">
            {% for forward in edit_form.mailforward %}
                <li>
                    <div class="btn-group">
                        {{ form_row(forward.target) }}
                    </div>
                </li>
            {% endfor %}

            <li><a href="#" class="btn mailforward-add">+</a></li>
        </ul>

        {# TODO: Wenn das mal schön werden könnte.. #}
        <div style="display: none;">
            {{ form_rest(edit_form) }}
        </div>

        {{ macros.formbuttongrp(path('config_mailaddress'), path('config_mailaddress_delete', { 'id': entity.id })) }}
    </form>
{% endblock %}
