{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset("bundles/jeboehmlampcpcore/js/mailaddress.js") }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <h1>{{ "edit.page.mailaddress"|trans() }}</h1>

    <form action="{{ path('config_mailaddress_update', { 'id': entity.id }) }}"
          class="form-horizontal" method="post" {{ form_enctype(edit_form) }}>

        {{ form_row(edit_form.address, {'form_type': 'horizontal'}) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailaccount"|trans }}</h2>

        {{ form_row(edit_form.mailaccount.enabled, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.mailaccount.password.first, {'form_type': 'horizontal'}) }}
        {{ form_row(edit_form.mailaccount.password.second, {'form_type': 'horizontal'}) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailforward"|trans }}</h2>

        <div class="mailforward"
             data-prototype="{{ form_widget(edit_form.mailforward.vars.prototype, {'form_type': 'horizontal'})|e }}">

            {% for forward in edit_form.mailforward %}
                {{ form_row(forward.target, {'form_type': 'horizontal'}) }}
            {% endfor %}

            <div class="control-group">
                <div class="controls" id="addbutton">
                    <a href="#" class="btn mailforward-add">{{ "button.add"|trans() }}</a>
                </div>
            </div>
        </div>

        {# TODO: Wenn das mal schön werden könnte.. #}
        <div style="display: none;">
            {{ form_rest(edit_form) }}
        </div>

        {{ macros.formbuttongrp(path('config_mailaddress'), path('config_mailaddress_delete', { 'id': entity.id })) }}
    </form>
{% endblock %}
