{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@JeboehmLampcpCoreBundle/Resources/public/js/mailaddress.js' %}

    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block content %}
    <h1>{{ "create.page.mailaddress"|trans() }}</h1>

    <form action="{{ path('config_mailaddress_create', { 'id': entity.id }) }}"
          method="post" {{ form_enctype(form) }}>
        {{ form_row(form.address) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailaccount"|trans }}</h2>
        {{ form_widget(form.mailaccount) }}

        <h2>{{ "jeboehm.lampcp.corebundle.mailaddresstype.mailforward"|trans }}</h2>
        <ul class="mailforward" data-prototype="{{ form_widget(form.mailforward.vars.prototype)|e }}">
            {% for forward in form.mailforward %}
                <li>{{ form_row(forward.target) }}</li>
            {% endfor %}

            <li><a href="#" class="btn mailforward-add">+</a></li>
        </ul>

        {# TODO: Wenn das mal schön werden könnte.. #}
        <div style="display: none;">
            {{ form_rest(form) }}
        </div>

        {{ macros.formbuttongrp() }}
    </form>
{% endblock %}
