{#
 # LampCP
 # https://github.com/jeboehm/LampCP
 #
 # Licensed under the GPL Version 2 license
 # http://www.gnu.org/licenses/gpl-2.0.txt
 #
 #}

{% extends 'JeboehmLampcpCoreBundle:Base:layout.html.twig' %}

{% block content %}
    <h1>{{ "create.page.mysqldatabase"|trans() }}</h1>

    <form action="{{ path('config_mysqldatabase_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        {{ macros.formbuttongrp(path('config_mysqldatabase')) }}
    </form>
{% endblock %}
